# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Program specific files #
##########################
.ICEauthority
.Xauthority*
.abrt/
.adobe/*
.bash_history
.bash_logout
.cache/
.cdsenv
.cdsinit
.cgdb/
.compiz-1/
.config/
!.config/ipython/
.dbus/
.dmrc
.dropbox/
.dropbox-dist/
.dropbox-master/
.emacs
.esd_auth
.filezilla/
.fluxbox
.fontconfig/
.freerdp/
.gconf/
.gconfd/
.gitk
.gnome2/
.gnote/
.gnupg/
.goutputstream*
.gstreamer-*
.gtk-bookmarks
.history
.hplip/
.HSPICE.html
.icedtea/
.java/
.lastpass/
.libmgr
.libsel
.lesshst
.local/
.macromedia/*
.Mathematica/
.matplotlib/
.mission-control/
.mozilla/*
.mw/
.nv/
.nvidia-settings-rc*
.nx/
.printer-groups.xml
.pulse-cookie
.pulse/
.putty/
.qt/
.recently-used.xbel
.remmina/
.saber/
.secpanel/
.setroubleshoot
.sh_history
.spice-vdagent/
.ssh/
.themes/
.tgdb/
.thumbnails/
.viminfo
.vnc/
.ws_state
.x2go/
.x2goclient/
.xsession-errors*
bin/env2
CADProjects/
cdssetup/
data/
Desktop/
Downloads/
examples.desktop
media
pcbenv/
scope.log.bak
simulation/
studio/
work/

# Temp Files #
##############
*.swp
*.tmp
*.temp
*.foo
*.bar
*.lock

# Other files #
###############
*debuglog.txt*

